[Unit]
Description=updates the Arch Linux mirrors
After = network-online.target
Wants = network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/update-mirrors

[Install]
WantedBy=graphical.target
WantedBy=multi-user.target
