[Unit]
Description=Run reflector weekly
After=network.target network-online.target
Requires=network-online.target

[Timer]
OnCalendar=weekly
RandomizedDelaySec=12h
Persistent=true
Unit=reflector.service

[Install]
WantedBy=timers.target
