[Unit]
Description=Pacman Reflector Mirror Update Service

[Service]
Type=simple
ExecStart=/bin/sh -c /usr/local/bin/arco-reflector

[Install]
WantedBy=multi-user.target
